<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">


    <title>App Name</title>
</head>
<body style="background-image: url('/img/bg-saskarc-app-b.jpg'); background-size:cover; background-repeat: no-repeat;">
    <div class="container" style="height:100% !important;">
		<div class="row align-items-center" style=" height:100% !important; height: 100% !important;">
			<div class="col rounded" style="text-align:center; background-color:gray;">
				<br>
				<i class="fas fa-exclamation-triangle fa-10x" style="color:whitesmoke;"></i><h1 style="font-size: 100px; color:whitesmoke;">404 Not Found</h1>
				<p style="color:whitesmoke;">
					The page you're trying to access has been removed or access has been denied for this request.<br />
					Please return to the <a href="/jobtracker" class="btn btn-sm btn-outline-light">Home Page</a> or contact the website administrator.
				</p>
				<br>
			</div>
		</div>
	</div>
    <script src="/libs/jquery/jquery-3.3.1.min.js"></script>
    <script src="/libs/popper.js/popper.min.js"></script>
</body>
</html>